
/*---------main section1--------------------*/
#mainsection1{
    height: 800px;
    background-image: url("images/section1_ocean.jpg");
    background-position: center;
    background-size: cover;


}

#mainsection1_content{
    width: 500px;
    height: 100px;
    background-color: rgba(51,47,47,0.8);
    box-shadow: 2px 4px 8px rgb(68,67,67);
    border-radius: 8px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 50px;
    margin: 0 auto;
    position: relative;
    top: 250px;
}

#mainsection1_content h2 {
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    margin-bottom: 10px;
    word-spacing: 8px;
}


#mainsection1_content p {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

#mainsection1_content a{
    text-decoration: none;
    background-color: rgb(250, 250, 200);
    color: black;
    padding: 5px 23px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
}

#mainsection1_content a:hover{
    background-color: rgb(222, 222, 151);
}



/*------------main section2-----------------*/
#mainsection2{
    /*background-color: rgb(216, 244, 244);*/
    background: linear-gradient(180deg,rgb(240, 245, 245), rgb(51, 237, 237));
    padding: 24px;
}

#mainsection2 h2{
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, serif;
    margin: 24px 0;
}


#mainsection2_images_content{
    display: flex; 
    width: 90%;
    margin: auto;
    margin-bottom: 60px;
}

#mainsection2_images_content{
    margin-left: 120px;
}

.image_content {
    margin: 0 20px;
}

.image_content img {
    height: 200px;
    width: 100%;
    box-shadow: 2px 4px 8px rgb(68,67,67);
    border-radius: 10px;
    object-fit: cover;
}


.image_content p{
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
}

.image_content p strong{
    color: rgb(93, 9, 9);
}


