body {
    margin: 0;
    background-color: rgba(244, 192, 206, 0.999);
}

#header_container {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(245, 147, 173, 0.999);
    /*padding: 0 25px;*/
    padding: 0 4%; /* 4% of total width of header*/
}


#header_container a{
    text-decoration: none;
    color: rgb(154, 13, 44);
    /*font-size: 29px;*/
    font-size: 1.8rem;
    font-family: cursive;
}

#header_navbar a{
    /*font-size: 18px;*/
    font-size: 1.2rem;
    font-family: sans-serif;
}

#header_navbar a:hover{
    color: rgb(121, 8, 33); 
    background-color: rgba(239, 93, 132, 0.999);   
    padding: 0.5rem;
    border-radius: 0.4rem;
}


#header_navbar ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

#header_navbar ul li{
    /*margin: 0 15px;*/
    margin: 0 1rem;
}


.menu_button {
    width: 3rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: none;

}

.menu_button span {
    width: 100%;
    height: 3px;
    background-color: white;
}



#sidebar_navbar {
    width: 15%;
    height: 50%;
    border-radius: 0.2rem;
    list-style: none;  
    background-color: rgba(245, 147, 173, 0.999);
    position: fixed;
    top: 0;
    right: 0;
    display: none;

}

 /* target psuedo selector checks if this id sidebar_navbar
 is pesent in url, this id will be in url when href="#sidebar_navabar"
 anchor tag is clicked */
 #sidebar_navbar:target{
    display: block;
}

#sidebar_navbar .menu_button{
    margin: 1.6rem 0;
}


#sidebar_navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0;
}

#sidebar_navbar li {
    margin: 1rem 0;
}


#sidebar_navbar nav a{
    font-size: 1.2rem;
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(154, 13, 44);
}

#sidebar_navbar nav a:hover{
    color: rgb(121, 8, 33); 
    background-color: rgba(239, 93, 132, 0.999);   
    padding: 0.5rem;
    border-radius: 0.4rem;
}



/*--------------main section-----------------*/
main h1{
    text-align: center;
    /*font-size: 45px;*/
    font-size: 3rem;
}

main section{
    width: 80%;
    /* center the block ele */
    margin: 3rem auto;
}

main section ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ;
}

.meals_contents div{
    text-align: center;
}


.meals_contents h2 {
    font-size: 1.5rem;
}


.meals_contents img {
    /* height: 250px; */
    height: 15.5rem;
    width: 100%;
    object-fit: cover;
}

main section ul li {
    background-color:rgba(245, 147, 173, 0.999);
    padding-bottom: 2rem;
    border-radius: 20px;
    overflow: hidden;/* made round corners for image also */
}


.meals_contents article div a{
    text-decoration: none;
    background-color: rgba(242, 95, 134, 0.999);  ;
    padding: 0.5rem 0.5rem;
    border-radius: 8px;
    color: rgb(154, 13, 44);
}

.meals_contents  article div a:hover{
    color: rgb(121, 8, 33); 
    background-color: rgba(235, 62, 108, 0.999);   
    padding: 0.5rem 0.5rem;
    border-radius: 8px;
}


/*------Responsive design ----------*/
@media (max-width: 40rem){
    #header_navbar {
        display: none;
    }

    .menu_button {
        display: flex;
    }

    
    main h1{
        font-size: 1.5rem;
    }

    main section ul{
        display: grid;
        grid-template-columns: 100%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           ;
    }

}